.footer-nav {
    width:300px;
    color:gray;
}
.links > p {
    font-size:0.9rem;
}
.copyright {
    font-size:0.8rem;
    display:flex;
    align-items: center;
    justify-content: left;
}
.copyright > p {
    font-weight: bold;
}
.copyright:hover, .links:hover {
    cursor: pointer;
}