.footer-nav {
    width:300px;
    color:gray;
}

.copyright {
    font-size:0.8rem;
    display:flex;
    align-items: center;
    justify-content: left;
}
.copyright > p {
    text-indent:-25px;
    font-weight: bold;
}