.navbarCont{
    display:flex;
    justify-content: space-evenly;
    position: fixed;
    top:0;
    width:100%;
    background-color: white;
    padding-left: 180px;
    border-bottom: 1pt solid rgba(0, 0, 0, 0.171);
}

.iconContainer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 18pt;
}

.iconContainer i{
    width:40px;
}

.inbox{
    visibility: hidden;
}

.profilePic{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 10px;
}

.profilePic:hover {
    cursor: pointer;
}

.instaLogo{
    width:130px;
    height:50px;
}

.instaLogo:hover {
    cursor: pointer;
}

input {
    width:15rem;
    height: 1.5rem;
    background-color: rgba(128, 128, 128, 0.068);
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.596);
    border-radius:3px;
    color: grey;
    text-align: center;
}


.searchbar{
  width: 18rem;
  margin-top: 10px;
}

i:hover {
    cursor: pointer;
}