.News {
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin-bottom: 60px;
    margin-left : 20%;
    margin-right: 20%;
    margin-top: 5%;
  }
  .Post-user {
    display: flex;
    padding: 6px;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    border: 1px solid whitesmoke;
  }
  .Post-user-avatar {
    width: 30px;
    height: 30px;
  }
  .Post-user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .Post-user-nickname {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    justify-content: flex-start;
    align-items: left;
    padding-right: 90%;
  }
  .Post-image-bg {
    background-color: #efefef;
  }
  .Post-image img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .Post-caption {
    padding: 6px 6px;
    text-align: center;
  }
  .Post-caption strong {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
  }
  .Like-btns {
    padding:6px;
    display:flex;
    width: 20%;
    justify-content: space-between;
    flex-direction: column;
    font-size:1.2rem;
  }
  .Like-btns > p {
    margin:0;
  }
 .Icons {
   display:flex;
   justify-content: space-between;
   width:30%;
  }
  .Post-user-nickname:hover, .Post-user-avatar:hover, .Ellipsis:hover,
  .Post-image:hover, .Icons:hover, .Likes:hover, .Post-caption:hover {
    cursor: pointer;
  }
  .Post-user-nickname:hover, .Likes:hover {
    text-decoration: underline;
    text-shadow: #e6e6e6;
  }